/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 24, 2016, 12:10:43 PM
    Author     : jeroen
*/

body {
  font: 12pt arial, sans-serif;
}

h1, h2, h3 {
  margin-top: .25em;
  margin-bottom: .5em;
}

div.nav {
  width: 90%;
  margin: 0 auto;
  padding: 0.5em 1em;
  background-color: #eeeeee;
  color: black;
}

div.nav a {
  text-decoration: none;
}

.previous {
  float: left;
}
.previous:before {
  content: '<< ';
}

.up:before {
  content: '↑ ';
}

.next {
  float: right;
}
.next:after {
  content: ' >>';
}


#content {
  max-width: 1200px;
  margin: 0 auto;


}


footer {
  margin-top: 1.5em;
  text-align: center;
  color: #808080;
  font-size: 80%;
}

/* commands for command line */
cmds {
  white-space: pre;
  padding-left: 2em;
  background-color: black;
  color: white;
  display: block;
  font-family: monospace, sans;
}

code {
  white-space:pre;
  padding-left: 2em;
  background-color: #f0f0f0;
  display: block;
}

.inline-code {
  font-family: monospace, sans;
  background-color: #e0e0e0;
}

div.tip, div.note {
  margin-left: 2em;
  background-color: #e0e0ff;
  padding: 1em;
}

span.tip, span.note
{
  float: left;
  font-size: 200%;
  font-weight: 800;
  margin-right: 2em;
}